body{
	margin: 0;
	overflow: hidden;
}
#canvas{
	display: block;
	position: absolute;
	left:55%;
	top:50%;
	margin-top:-300px;
	margin-left:-300px;
	box-shadow: 0 0 3px black;
	background: rgba(255,255,255,0.8);
	z-index: 2;
}

.bg{
	position: relative;
	width:1500px;
	height:650px;
}
.bg::before{
	content: "";
	display: block;
	position: absolute;
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	width:1500px;
	height: 100%;
	animation-duration:300s;
	 animation-timing-function: linear; 
	 animation-iteration-count: infinite;
	 animation-name: before;
}
.bg::after{
	content: "";
	display: block;
	position: absolute;
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	width:1500px;
	height: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	animation-name: after;
	animation-duration: 300s;
}
@keyframes before{
	1% {
		transform:translate3d(0,0,0);
	}
	50%{
		transform: translate3d(-1400px, 0,0);
	}
	50.1%{
		transform: translate3d(1400px,0,0);
	}
	100%{
		transform: translate3d(0,0,0);
	}
}
@keyframes after{
	0%{
		transform: translate3d(1400px,0,0);
	}
	50%{
		transform: translate3d(0,0,0);
	}
	100%{
		transform: translate3d(-1400px,0,0);
	}
}
.img{
	position: absolute;
	bottom:50px;
	left:35px;
	background: url(../img/juanzhou.png) no-repeat center;
	background-size:cover;
	width:200px;
	height:100px;
}

button.zailaiyiju{
	position: absolute;
	top:30px;
	right:40px;
	width: 120px;
	height:30px;
	border:none;
	background: none;
	font-size: 20px;
	color:#444;
	font-weight: bolder;
	outline: none;
}